.footer {

  position: relative;
  padding: 100px 15px;
  width: 100%;
  background: var(--blue-gradient);
  font-size: var(--size-normal);
  font-weight: 300;
  color: var(--color-white);
  @include media('<tablet') {
    padding: 20px;
  }

  &__wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    @include media('<tablet') {
      flex-direction: column;
    }
  }

  &__title {
    margin-top: 20px;
    max-width: 31.5%;
    @include media('<tablet') {
      max-width: 100%;
    }

    &--logo {
      margin-bottom: 13px;
    }

    &--description {
      margin-bottom: 31px;
      line-height: 28px;
      color: var(--color-white);
    }
   &--copyright {
     font-weight: 300;
     font-size: 16px;
     line-height: 28px;
     color: var(--color-white);
   }
  }

  &__columns {
    flex-basis: 54%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 29px;
    @include media('<tablet') {
      flex-direction: column;
    }

    .footer__columns__column__list {
      list-style: none;
      margin-top: 27px;
      margin-right: 13px;
      @extend %listreset ;
    }

    .footer__column{

      @include media('<tablet'){
        margin-bottom: 40px;
      }
    }
    &__column__list--link {
      color: var(--color-white);
      transition: opacity var(--hover-delay);

      &:hover {
        opacity: 0.5;
      }
    }

    &__column__list--item {
      margin: 16px 0;
      max-width: 140px;
    }

    .heading {
      font-weight: 700;
      font-size: 20px;

    }
  }

  &__rect-top {
    position: absolute;
    top: -70px;
    right: 100px;
    @include media('<tablet') {
      display: none;
    }
  }

  &__rect-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    @include media('<tablet') {
      display: none;
    }
  }
}
