.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 33px 20px 237px;
    @include media('<tablet') {
      margin-bottom: 30px;

    }

  }
  &__nav {
    &__list {
      display: flex;
      list-style: none;
      margin-top: 7px;
      @include media('<tablet') {
        display: none;
      }
    }
    &__link {
      color: var(--nav-item-color);
      opacity: 0.5;
      transition: opacity 0.3s;
      font-size: 18px;
      padding:20px 21px;

      &:hover {
        opacity: 1;
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
