.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 33px 20px 237px;
    @include media('<tablet') {
      margin-bottom: 30px;
    }
  }
  &__nav {
    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 7px;
      @include media('<tablet') {
        display: none;
      }
    }
    &__link {
      color: var(--nav-item-color);
      opacity: 0.5;
      transition: opacity var(--hover-delay);
      font-size: var(--size-normal);
      padding:0 21px;
      &:active{
        font-weight: bold;
      }
      &:hover {
        opacity: 1;

      }
    }
  }
}
