.posts {
  position: relative;
  display: flex;
  &__wrapper {
    margin: 133px auto 168px;
    @include media('<tablet'){
      margin: 40px auto 78px;
    }
  }
  &__cards{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    &__card{
      position: relative;
      max-width: 375px;
      min-width: 300px;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      border-radius: 20px;
      margin: 20px;
      padding-bottom:40px;
      &_rect{
        position: absolute;
        top: -47px;
        left: -47px;
        z-index: -1;
      }
      &--img {
        border-radius: 20px;
        margin-bottom: 21px;
        & img {
          border-radius: 20px 20px 0 0 ;
        }
      }
      &__info{
        max-width: 316px;
        margin-left: 38px;
        &--title{
          font-size: 21px;
          margin-bottom: 12px;
          line-height: 32px;
        }
      }

      &__info-link{
        color: var(--color-blue);
        background-color: var(--color-white);
        font-weight: bold;
        transition: opacity var(--hover-delay);
        &-arrow{
          margin-left: 20px;
        }
        &:hover{
          opacity: 0.5;
        }

        &:after{
          content:url(../../images/arrow.svg);
          margin-left: 25px;
        }
      }
      &__description{
        font-size: 16px;
        font-weight: 300;
        color: var(--card-description-color) ;
        line-height: 28px;
        margin-bottom: 28px;
      }
    }
  }
  &__title {
    text-align: center;
    font-size: var(--size-normal);
    line-height: 56px;
    margin: 0 20px 60px;
    &:after {
      content: '';
      margin: 0 auto;
      padding-top: 5px;
      display: flex;
      width: 60px;
      border-bottom: 2px solid black;
    }
  }
  &__btn {
    display: block;
    padding: 17px 20px;
    border-radius: 55px;
    min-width: 214px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    background: var(--color-white);
    transition: color, background-color var(--hover-delay);
    margin: 54px auto 0;
    font-weight: bold;
    font-size: var(--size-normal);
    &:hover {
     @include cards-btn-hover(var(--color-blue),var(--color-white));
    }
  }
}
