.promo {
  margin-bottom: 130px;
  @include media('<tablet') {
    margin-top: 50px;
  }

  &__wrapper {
    margin: 0 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media('<tablet') {
      margin: 15px;
    }
  }

  &__download {
    flex-basis: 33%;
    padding-left: 15px;
    min-width: 250px;
    @include media('<tablet') {
      text-align: center;
      margin: 0 0 30px;
      flex-basis: 100%
    }

    &__title {
      font-size: 36px;
      line-height: 48px;
      max-width: 277px;
      margin-bottom: 30px;
      @include media('<tablet'){
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
      }
      &:after {
        content: "";
        display: flex;
        width: 60px;
        border: 1px solid black;
        margin: 30px 0 10px;
        @include media('<tablet'){
          margin: 30px auto 10px;
        }
      }
    }

    &__description {
      font-size: var(--size-normal);
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 40px;

    }

    &__link {
      background-color: var(--color-white);
      border: 1px solid var(--color-blue);
      color: var(--color-blue);
      border-radius: 55px;
      max-width: 200px;
      margin-top: 20px;
      transition: opacity var(--hover-delay);
      text-align: center;
      font-weight: bold;
      font-size: var(--size-normal);
      line-height: 55px;
      padding: 15px 44px;

      &:after {
        content: url(/images/download-arrow.svg);
        margin-left: 20px;
      }

      &:hover {
        opacity: 0.7;
      }

    }
  }

  &__image {
    flex-basis: 59%;
    position: relative;
    @include media('<tablet') {
      margin-bottom: 30px;
      order: -1;
      flex-basis: 100%;
    }

    &--rect {
      width: 100px;
      position: absolute;
      right: 0;
      top: -100px;
      @include media('<tablet') {
        display: none;
      }
    }
  }
}
