.promo {
  margin-top: 200px;
  @include media('<tablet'){
    margin-top: 50px;
  }
  &__wrapper {
    margin: 126px 11px;
    display: flex;
    justify-content: space-between;
    @include media('<tablet') {
      margin: 15px;
      flex-direction: column-reverse;
    }
  }
  &__download {
    flex-basis: 33%;
    min-width: 250px;
    @include media('<tablet'){
      align-items: self-start;
      color: black;
      margin: 0 auto 30px;
    }
    &__title {
      font-size: 36px;
      line-height: 48px;
      max-width: 277px;
      margin-bottom: 30px;

      &:after {
        content: "";
        display: flex;
        width: 60px;
        border: 1px solid black;
        margin: 30px 0 10px;
      }
    }
    &__description {
      font-size: var(--size-normal);
      font-weight: 300;
      line-height: 30px;
      margin-bottom: 40px;
      color: var(--card-description-color);
    }
    &__link {
      background-color: var(--color-white);
      border: 1px solid var(--color-blue);
      color: var(--color-blue);
      border-radius: 55px;
      max-width: 200px;
      margin-top: 20px;
      transition: opacity var(--hover-delay);
      text-align: center;
      font-weight: bold;
      font-size: var(--size-normal);
      line-height: 55px;
      padding: 15px 44px;
      &:after{
        content: url(../../images/download_arrow.svg);
        margin-left: 20px ;
      }
      &:hover {
     opacity: 0.7;
      }

    }
  }
  &__image {
    flex-basis: 59%;
    position: relative;
    @include media('<tablet'){
      margin-bottom: 30px;
    }
    &--rect {
      width: 100px;
      position: absolute;
      right: 0;
      top: -100px;
      @include media('<tablet') {
        display: none;
      }
    }
  }
}
