
  <section class="menu">
    <details class="menu-wrapper">
      <summary role="button" class="burger-btn">
        <span aria-label="burger element"></span>
        <span aria-label="burger element"></span>
        <span aria-label="burger element"></span>
      </summary>
      <div class="burger__container">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__list-item">
              <a class="nav__list-link" href="#">Home</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__list-link" href="#">Apps</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__list-link" href="#">Testimonials</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__list-link" href="#">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </details>
  </section>

