<header class="header container" >
  <div class="header__wrapper">
    <div class="header__logo">
      <a class="header__logo--link">
        <img src="/images/logo.svg" alt="Trafalgar">
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item">
          <a href="#" class="header__nav__link">
            Home
          </a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="">
            Apps
          </a>
        </li>
        <li class="header__nav__item">
          <a href="" class="header__nav__link">
            Testimonials
          </a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="">
            About us
          </a>
        </li>
      </ul>
      @@include('../partials/components/burger.html')
    </nav>

  </div>
</header>
