<header class="header container">
  <div class="header__wrapper">
    <div class="header__logo">
      <a class="header__logo--link" href="#">
        <img src="/images/logo.svg" alt="Trafalgar">
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav__list ">
        <li class="header__nav__item ">
          <a class="header__nav__link header__nav__link--active" href="#">
            Home
          </a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">
            Apps
          </a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">
            Testimonials
          </a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link" href="#">
            About us
          </a>
        </li>
      </ul>
      <div class="menu">
        <details class="menu__wrapper">
          <summary role="button" class="burger-btn">
            <span aria-label="burger element"></span>
            <span aria-label="burger element"></span>
            <span aria-label="burger element"></span>
          </summary>
        </details>
      </div>
    </nav>

  </div>
</header>
