<section class="posts">
  <div class="posts__wrapper container">
    <div class="posts__title">
      <h1>Check out our latest article</h1>
    </div>
    <div class="posts__cards">
      <div class="posts__cards__card">
        <div class="posts__cards__card_rect">
          <img src="images/promo/Rect.svg" alt="decoration">
        </div>
        <div class="posts__cards__card--img">
          <img src="images/product-image-1.jpg" alt="checkout card image">
        </div>
        <div class="posts__cards__card__info">
          <h2 class="posts__cards__card__info--title">
            Disease detection, check
            up in the laboratory
          </h2>
          <p class="posts__cards__card__description">
            In this case, the role of the health laboratory is very important to do
            a disease detection...
          </p>
          <a class="posts__cards__card__info-link">
            Read more
            <img class="posts__cards__card__info-link-arrow" src="images/arrow.svg" alt="arrow">
          </a>
        </div>
      </div>
      <div class="posts__cards__card">
        <div class="posts__cards__card--img">
          <img src="images/product-image-2.jpg" alt="checkout card image">
        </div>
        <div class="posts__cards__card__info">
          <h2 class="posts__cards__card__info--title">
            Disease detection, check
            up in the laboratory
          </h2>
          <p class="posts__cards__card__description">
            In this case, the role of the health laboratory is very important to do
            a disease detection...
          </p>
          <a class="posts__cards__card__info-link">
            Read more
            <img class="posts__cards__card__info-link-arrow" src="images/arrow.svg" alt="arrow">
          </a>
        </div>
      </div>
      <div class="posts__cards__card">
        <div class="posts__cards__card--img">
          <img src="images/product-image-3.jpg" alt="checkout card image">
        </div>
        <div class="posts__cards__card__info">
          <h2 class="posts__cards__card__info--title">
            Disease detection, check
            up in the laboratory
          </h2>
          <p class="posts__cards__card__description">
            In this case, the role of the health laboratory is very important to do
            a disease detection...
          </p>
          <a class="posts__cards__card__info-link">
            Read more
            <img class="posts__cards__card__info-link-arrow" src="images/arrow.svg" alt="arrow">
          </a>
        </div>
      </div>
    </div>
    <button type="button" class="posts__btn ">View all</button>
  </div>
</section>
