<section class="posts">
  <div class="posts__wrapper container">
    <div class="posts__title">
      <h1>Check out our latest article</h1>
    </div>
    <div class="posts__cards">
      <div class="posts__cards__card">
        <div class="posts__cards__card_rect">
          <img src="images/Rect.svg" alt="decoration">
        </div>
        <div class="posts__cards__card--img">
          <img src="images/product-image-1.jpg" alt="Disease detection, check up in the laboratory">
        </div>
        <div class="posts__cards__card__info">
          <h2 class="posts__cards__card__info--title">
            Disease detection, check
            up in the laboratory
          </h2>
          <p class="posts__cards__card__description">
            In this case, the role of the health laboratory is very important to do
            a disease detection...
          </p>
          <a href="#" class="posts__cards__card__info-link">
            Read more
          </a>
        </div>
      </div>
      <div class="posts__cards__card">
        <div class="posts__cards__card--img">
          <img src="images/product-image-2.jpg" alt="Herbal medicines that are safe for consumption">
        </div>
        <div class="posts__cards__card__info">
          <h2 class="posts__cards__card__info--title">
            Herbal medicines that are
            safe for consumption
          </h2>
          <p class="posts__cards__card__description">
            Herbal medicine is very widely used at this time because of its very good for your health...
          </p>
          <a href="#" class="posts__cards__card__info-link">
            Read more
          </a>
        </div>
      </div>
      <div class="posts__cards__card">
        <div class="posts__cards__card--img">
          <img src="images/product-image-3.jpg" alt="Natural care for healthy facial skin">
        </div>
        <div class="posts__cards__card__info">
          <h2 class="posts__cards__card__info--title">
            Natural care for healthy
            facial skin
          </h2>
          <p class="posts__cards__card__description">
            A healthy lifestyle should start from now and also for your skin health.
            There are some......
          </p>
          <a href="#" class="posts__cards__card__info-link">
            Read more
          </a>
        </div>
      </div>
    </div>
    <button type="button" class="posts__btn ">View all</button>
  </div>
</section>
