<section class="promo container">
  <div class="promo__wrapper">
    <div class="promo__download">
      <h1 class="promo__download--title ">
        Download our <br/>
        mobile apps
      </h1>
      <p class="promo__download--description">Our dedicated patient engagement app and
        web portal allow you to access information instantaneously (no tedeous form, long calls,
        or administrative hassle) and securely</p>
      <button type="button" class="promo__download--btn">Download</button>
    </div>
    <div class="promo__image">
      <img src="images/promo/apps.jpg" alt="Promo image">
      <div class="promo__image--rect">
        <img src="images/promo/Rect.svg" alt="decoration">
      </div>
    </div>
  </div>
</section>
