<!-- Swiper -->
<section class="testimonials-slider container">
  <div class="testimonials-slider--title">
    <h1>What our customer are saying</h1>
  </div>
  <div class="testimonials-slider__rect">
    <img src="images/Rect.svg" alt="decoration">
  </div>
  <div class="swiper testimonials ">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="person">
          <div class="person__info">
            <img src="images/person.jpg" alt="person photo" class="person--img">
            <div class="person__name">
              <h2 class="person__name-name">Edward Newgate</h2>
              <p class="person__name-position">Founder Circle</p>
            </div>
          </div>
          <div class="person__description">
            <p>
              “Our dedicated patient engagement app and
              web portal allow you to access information instantaneously (no tedeous form, long calls,
              or administrative hassle) and securely”
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="person">
          <div class="person__info">
            <img src="images/person.jpg" alt="person photo" class="person--img">
            <div class="person__name">
              <h2 class="person__name-name">Edward Newgate</h2>
              <p class="person__name-position">Founder Circle</p>
            </div>
          </div>
          <div class="person__description">
            <p>
              “Our dedicated patient engagement app and
              web portal allow you to access information instantaneously (no tedeous form, long calls,
              or administrative hassle) and securely”
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="person">
          <div class="person__info">
            <img src="images/person.jpg" alt="person photo" class="person--img">
            <div class="person__name">
              <h2 class="person__name-name">Edward Newgate</h2>
              <p class="person__name-position">Founder Circle</p>
            </div>
          </div>
          <div class="person__description">
            <p>
              “Our dedicated patient engagement app and
              web portal allow you to access information instantaneously (no tedeous form, long calls,
              or administrative hassle) and securely”
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="person">
          <div class="person__info">
            <img src="images/person.jpg" alt="person photo" class="person--img">
            <div class="person__name">
              <h2 class="person__name-name">Edward Newgate</h2>
              <p class="person__name-position">Founder Circle</p>
            </div>
          </div>
          <div class="person__description">
            <p>
              “Our dedicated patient engagement app and
              web portal allow you to access information instantaneously (no tedeous form, long calls,
              or administrative hassle) and securely”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper__navigation">
    <div class="swiper-button-next testimonials-slider-next "><img src="images/slider-arrow.svg" alt=""></div>
    <div class="swiper-button-prev  testimonials-slider-prev "><img src="images/slider-arrow.svg" alt=""></div>
    <div class="swiper-pagination"></div>
  </div>

</section>



